.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('//miro.medium.com/max/1080/0*DqHGYPBA-ANwsma2.gif') 50% 50% no-repeat var(--app-backgound-grey);
  }